---
openapi: 3.0.2
info:
  title: Report API
  version: '0.1'
servers:
- url: https://apitest.vipps.no
- url: https://api.vipps.no
paths:
  "/ledgers":
    get:
      responses:
        500:
          "$ref": "#/components/responses/500"
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Ledger"
  "/ledgers/{ledgerID}/report":
    post:
      parameters:
        - in: path
          required: true
          name: ledgerID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportInput"
      responses:
        500:
          "$ref": "#/components/responses/500"
        200:
          description: "OK"
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Report"
            text/csv:
              schema:
                type: string
              examples:
                csv table:
                  summary: Summary of table
                  value: 'cell 1, cell 2'
components:
  responses:
    500:
      description: Server error
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
                description: An URI-reference that identities the proble type
              title:
                type: string
                description: A human readable summary of the problem
              instance:
                type: string
                description: Unique ID for the request which can be used to find related events (logs)
    401:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              code: 
                type: string
                example: 
              message:
                type: string
  schemas:
    ReportInput: 
      oneOf:
        - type: object
          required:
            - date
          properties:
            date:
              type: string
              format: date
              example: 2022-01-20
        - type: object
          required:
            - fromDate
            - toDate
          properties:
            fromDate:
              type: string
              example: 2022-01-20
            toDate:
              type: string
              example: 2022-01-22
        - type: object
          required:
            - fromTime
            - toTime
          properties:
            fromTime:
              type: string
              example: 2022-01-20T03:00:00+02
            toTime:
              type: string
              example: 2022-01-22T04:00:00+02
        - type: object
          required:
            - inPayout
          properties:
            inPayout:
              type: string
              example: 2000010
        - type: object
          required:
            - sincePayout
          properties:
            sincePayout:
              type: string
              example: 2000010
    Ledger:
      type: object
      properties:
        ledgerID:
          type: string
          example: '2000001'
        settlementAccountNumber:
          type: string
          example: "86011117947"
        firstPayout:
          type: string
          nullable: true
          example: 2022-01-20T03:00:00+02
        lastPayout:
          type: string
          nullable: true
          example: 2022-01-22T04:00:00+02 
        org:
          $ref: "#/components/schemas/Organization"
        settlesFor:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/LedgerSettlesForEpayment" 
              - $ref: "#/components/schemas/LedgerSettlesForVippsnummer" 
    LedgerSettlesForEpayment:
      type: object
      properties:
        type:
          type: string
          enum:
            - epayment
        epaymentMSN:
          type: string
    LedgerSettlesForVippsnummer:
      type: object
      properties:
        type:
          type: string
          enum:
            - vippsnummer
        vippsnummer: 
          type: string
        country: 
          type: string
    Report:
      type: object
      properties:
        settlementID:
          type: string
          example: '2000001'
          description: An increasing number that is unique in each settlement-account.
        settlementAccountID:
          type: string
          example: '1'
    Organization:
      type: object
      properties:
        orgno:
          type: number
          example: 987654321
        jurisdiction:
          type: string
          enum:
            - "NO"
          example: "NO"